<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Rent a Yacht</title>
</head>

<body>
    <p>Rent a yacht now</p>
    <form name="yach_form" class="yach_form" autocomplete="off">
        <div class="form_label_yacht">
            <div class="input_form_yacht">
                <input type="text" class="input-yacht" name="full_name" id="full_name">
                <input type="text" class="input-yacht" name="full_name" id="full_name">
                <input type="text" class="input-yacht" name="full_name" id="full_name">
                <input type="text" class="input-yacht" name="full_name" id="full_name">
            </div>
        </div>
        <button class="btn_yacht" type="button">Send</button>
    </form>
    <img class="poza4" src="/src/images/poza4.jpg" alt="">
    <h1></h1>
</body>

</html>